/* open sans font is nice */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Custom Properties*/

:root {
    --ff-primary: 'Balsamiq Sans', cursive;
    --ff-secondary: 'Fredoka One', cursive;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #070c0d;
    --clr-accent: #30cad4;
    --clr-bg-accent: #e6ffff;

    --fs-h1: 4.5rem;
    --fs-h2: 4rem;
    --fs-h3: 1.75rem;
    --fs-p:  1.35rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
    --bs-strong: 1px 1px 10px rgba(255,255,255,.25),
                 -1px -1px 10px rgba(255,255,255,.25);
    --bs-strong-dark: 1px 1px 10px rgba(0,0,0,.25),
                -1px -1px 10px rgba(0,0,0,.25);
}


/*General Styles*/

html {
    scroll-behavior: smooth;
}


body {
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    line-height: 1.6
}

::selection{
    background-color: var(--clr-accent);
    color: white;
}


img {
    display: block;
    max-width: 100%;
}

section {
    /*padding: 5em 2em;*/
}

strong { font-weight: var(--fw-bold); }


/*Buttons*/

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

.btn {
    display: inline-block;
    padding: 20px 50px;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-weight: 1000;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 250ms ease-in-out;
    border-radius: 40px;
    border: 2px solid var(--clr-accent);
}

.btn:hover {
    transform: scale(1.05);
    background: none;
    color: var(--clr-accent);
}


/*Typography*/

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
    font-family: var(--ff-secondary);
}

h1 { font-size: var(--fs-h1); }
h2 { font-size: var(--fs-h2); }
h3 { font-size: var(--fs-h3); }
p  { font-size: var(--fs-p);  }
.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}



.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
    color: var(--clr-dark);
    text-align: center;
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.section__subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

/*header*/

/*png or svg better?*/

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: 500px;
    padding: 1% 10% 0% 10%;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: var(--clr-dark);
}

.logo {
    z-index: 10000;
    max-width: 160px;
    max-height: 160px;
    border-bottom: none;
    animation: fadeIn ease 1s;
}

.nav {
    display: block;
    background: var(--clr-dark);
    color: var(--clr-light);
    z-index: 100;
    border-bottom: none;
    animation: fadeIn ease 1s;
}

.intro-caption{
    font-size: 28px;
    padding-top: 100px;
    animation: fadeIn ease 1s;
}

.intro-caption p{
    padding-bottom: 20px;
}

.intro-caption .btn:hover{
    color: var(--clr-light);
}

.nav__link {
    color: #5e5e5e;
    font-weight: var(--fw-bold);
    font-size: 28px;
    text-decoration: none;
}

.nav__item{
    display: inline;
    padding: 5px 20px;
}

.nav__link:hover {
    color: white;
    transition: ease-in-out 0.3s;
}


.underline::before {
    transform: translateX(-50%);
    width: 20%;
    height: 6px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    opacity: 0;
    pointer-events: none;
    content: "";
    border-radius: 6px;
    background: #24f0f0;
    transition: ease-in-out 0.3s;
}

.underline:hover:before,.underline.active:before {
    width: 70%;
    opacity: 1;
}

.underline {
    position: relative;
    display: block;
    transition: ease-in-out 0.3s;
}

.highlight {
    color: #24f0f0 !important;
    transition: ease-in-out 0.3s;
}

.highlight::before {
    opacity: 1;
}

.highlight::before {
    transform: translateX(-50%);
    width: 60%;
    height: 6px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    pointer-events: none;
    content: "";
    border-radius: 6px;
    background: white;
}

.highlight:hover:before,.highlight.active:before {
    width: 40%;
    opacity: 1;
    background: #24f0f0;
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 5%;
    top: 7%;
    z-index: -10;
    display: none;
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translate(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transorm 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }

.nav__list {
    display: flex;
    list-style: none;
    height: 100%;
    float: right;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-bottom: 0
}

/*Intro Section*/

.intro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    justify-items: end;
    grid-gap: 5rem;
    text-align: left;
    padding: 100px 15%;
    background: var(--clr-dark);
    color: var(--clr-light);
    width: 100%;
    height: 90vh;
    clip-path: polygon(0 0, 0 85%, 100% 100%, 100% 0);
    border-top: 1px solid var(--clr-dark);
}

.intro__img {
    width: 90%;
    justify-self: center;
    background: #1D1D1D;
    padding: 7%;
    border-radius: 5px;
    box-shadow: var(--bs-strong);
    animation: fadeIn ease 1s;
}

.intro__img img{
    margin-bottom: -23%;
    border-radius: 5px;
    max-width: 100%;
    border: solid 1px grey;
}

/*My Services*/

.my-services {
    background-color: var(--clr-light);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-dark);
    text-align: center;
    width: 100%;
    padding: 5% 12%;
    margin: 0;
    padding-bottom: 10%;
}


.my-services .btn{
    margin-top: 50px;
}

.my-services a:hover{
    color: black;
}

.section__title--services {
    color: var(--clr-dark);
    position: relative;
}

.section__title--services::after {
    content: '';
    display: block;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.service {
    margin: 0 auto;
}




.services .service .p{
    font-size: 100px;
}


.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5%;
    text-align: center;
}

.services h3{
    color: var(--clr-accent);
    padding-bottom: 5%;
}

.line {
    border-bottom: #E8E8E8 solid 5px;
    border-radius: 10px;
}

.about-me h2 {
    font-size: 28px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.section__title--about {
    /* border-bottom: #E8E8E8 solid 5px; */
    border-radius: 5px;
    padding-bottom: 15px;
    width: 65.6%;
    font-size: 3.5rem;
    font-weight: 200;
}


.about-me__img {
    background: #1D1D1D;/*#1D1D1D;*/
    background-color: #e9e9e9;
    justify-self: center;
    width: 100%;
    padding: 5%;
    border-radius: 5px;
    box-shadow: var(--bs-strong-dark);
}

.about-me__img img{
    margin-bottom: -10%;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: var(--bs-strong-dark);
}

.about-me-1 {
    padding-top: 25px;
}

.about-me-title {
    color: #2BB5BB;
    font-size: 36px !important;
    font-weight: 900;
    text-align: center;
}

.about-me-title-container{
    padding: 0;
    margin: 0;
}

.about-me-container{
    padding-top: 3%;
    padding-bottom: 10%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2%;
    text-align: center;
    /*background-color: var(--clr-light);*/
}

.about-me__body{
    /*margin-top: 100px;*/
    text-align: left;
    padding: 0 5%;
}

.about-me__body p{
    padding: 5% 0;
    font-size: 1.55rem;
    color: #202020;
}

.about-me__body h3{
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.25rem;
    text-align: left;
    display: inline;
    color: #606060;
}

.about-me__body i{
    font-size: 1.55rem;
    text-align: left;
    display: inline;
    padding-right: 10px;
    color: #606060;
}

.about-me-skill {
    padding-bottom: 25px;
    text-align: left;
    opacity: 0;
}

.featuredDesButton {
  opacity: 0;
}


.about-me__body a:hover{
    color: black;
    font-weight: 900;
    font-size: 20.5px;
}

.my-services h2 {
    font-size: 28px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

#services {
    padding-bottom: 0;
    opacity: 0;
}



.services-container{
    padding: 5% 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
    text-align: center;
    /*background-color: var(--clr-light);*/
}

.services-container .service{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    background-color: #f8f8f8;
    padding: 7%;
    border-radius: 5px;
    border-top: solid 5px var(--clr-accent);
    /*box-shadow: var(--bs-strong-dark);*/
    transition: ease-in-out all 0.3s;
}


.services-container .service i{
    font-size: 42px;
    padding-bottom: 20px;
    border-bottom: 5px solid var(--clr-accent);
    border-radius: 5px;
}

.services-container .service h3{
    color: black;
    font-weight: normal;
    padding-top: 20px;
}

.services-container .service h3:nth-child(3){
    font-size: 22px;
    font-weight: 100;
}

.services-container .service p{
    color: #8d8d8d;
}

.my-skills{
    display: flex;
    position: relative;
    justify-content: center;
    padding-top: 0;
}

.skill-intro{
    list-style: none;
    font-size: 18px;
}

.skill-intro a{
    color: inherit;
    font-weight: 1000;
    text-decoration: underline var(--clr-accent) 3px;
}

.skill-intro a:hover{
    opacity: 0.8;
    color: teal;
    text-decoration: underline black 3px;
}

.my-skills .skills ul{
    list-style: none;
    font-size: 18px;
}


.my-skills i {
    color: var(--clr-accent);
    border-bottom: none !important;
    padding-top: 30px;
}

.my-skills .service {
    border-radius: 18px;
    border: solid silver 1px;
    background-color: white;
    font-weight: lighter;
    min-height: 500px;
    vertical-align: baseline;
    text-align: center;
}

.my-skills .services-container {
    padding-bottom: 2%;
}


.my-skills .service h3:nth-child(4){
    color: var(--clr-accent);
    font-size: 20px;
}

.my-skills .service h3{
    font-size: 26px;
}

.my-skills .service p{
    color: black;
}

.services-footer {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.services-footer .container {
    position: relative;
    margin: 0 auto;
    max-width: 500px;
}

.services-footer .container img{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}

.skills {
    grid-template-columns: repeat( 3, 1fr);
    justify-content: center;
    text-align: center;
    grid-gap: 20px;
    padding-top: 0;
    margin-top: -10%;
    max-width: 1200px !important;
}

.skills-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15%;
    width: 100%;
    text-align: center;
    background-color: #1fd1d1;
    /* #e6f5ff */
    color: black;
    vertical-align: middle;
}

.skills-intro h3{
    font-size: 32px;
    padding-bottom: 30px;
    color: white;
}

.skills-intro p{
    font-size: 24px;
}

.skills-intro-container {
    padding-top: 150px;
    max-width: 850px;
}

.about-me {
    background-color:  var(--clr-light);
    color: black;
    width: 100%;
    padding: 10% 10% 0% 10%;
    margin: 0;
}

/*Footer*/

.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 100px 0;
    font-size: var(--fs-h3);
    clip-path: polygon(0 0%, 0 100%, 100% 100%, 100% 20%);
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer .btn{
    color: black;
}

.footer .btn:hover{
    color: white;
}

.footer-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 120px 50px;
    text-align: center;
    justify-content: center;
    align-content: center;
    max-width: 1200px;
    margin: auto;
}

.footer-container h3 {
    font-size: 52px;
    font-weight: lighter;
    color: white;
    padding-bottom: 20px;
}

.footer__link {
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
    color: #606060 !important;
    text-decoration: none;
}

#footer-button {
    padding-top: 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: var(--clr-dark);
    color: #F5F5F5;
    text-align: center;
    font-size: 20px;
}

.footer-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}


.footer__link:hover,
.social-list__link:hover {
    opacity: 0.7;
}

.footer__link:hover {
    text-decoration: none;
}

.social-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    text-align: left;
}

.social-list__item {
    margin: 0;
    padding: 1%;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
}

.social-list__link {
    padding: .5em .5em 0;
}

.social-list__link i{
    padding-right: 12px;
}

.social-list__link span{
    color: #606060;
    text-transform: uppercase;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInSlow {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOutSlow {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes slideDown {
    0% {
        position: relative;
        top: -30px;
    }
    100% {
        top: 0px;
    }
}

@keyframes mobileMenuAnimationDown {
    0{
        top: 4px;
    }
    50%{
        top: 11px;
        transform: none;
    }
    100% {
        top: 11px;
        transform: rotate(45deg);
    }
}

@keyframes mobileMenuAnimationUp {
    0{
        top: 24px;
    }
    50%{
        top: 18px;
        transform: none;
    }
    100% {
        top: 10px;
        transform: rotate(-45deg);
    }
}

.animations-enabled {
    transition: all ease .40s;
}

.slideDown {
    position: relative;
    top: -30px;
}

.slideDown-loaded {
    top: 0px;
}

.slideUp {
    position: relative;
    top: 30px;
}

.slideUp-loaded {
    top: 0px;
}

.slideRight {
    position: relative;
    left: -200px;
    opacity: 0;
}

.slideRight-loaded {
    left: 0px;
}

.slideLeft {
    position: relative;
    right: -200px;
    opacity: 0;
}

.slideLeft-loaded {
    right: 0px;
}

.fadeIn {
    opacity: 1;
    transition: ease-in-out .3s;
}

.fadeInSlow {
    opacity: 1;
    animation: fadeInSlow ease .6s;
}

.fadeOutSlow {
    opacity: 1;
    animation: fadeOutSlow ease .6s;
}

/* Featured Work */
#featured-intro{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    padding: 0;
    height: 50vh;
}

#featured-intro p{
    font-size: 32px;
}

.scroll-button-container {
    text-align: center;
    scroll-behavior: smooth;
    padding-top: 2%;
    margin: 0;
    width: 100%;
}

.scroll-button {
    width: 10%;
    font-size: 18px;
}

.scroll-button i{
    font-size: 65px;
    text-decoration: none;
    color: #606060;
}

#visit-featured-work{
    text-align: center;
}

#visit-featured-work .btn{
    padding: 18px 40px;
}

#visit-featured-work .btn:hover{
    color: black;
}

.featured-showcase {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    width: 100%;
}

.featured-showcase-container {
    padding: 3% 5% 5% 5%;
    max-width: 1600px;
}

.featured-showcase-img img {
    border: solid silver 1px;
    /* margin-bottom: -115px; */
    margin-bottom: -9%;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: var(--bs-strong-dark);
    background-color: black; /*To compensate for the padding at bottom*/
}

.featured-showcase-img {
    background: #1D1D1D;
    background-color: #e9e9e9;
    justify-self: center;
    width: 100%;
    /* padding: 50px; */
    padding: 3%;
    border-radius: 5px;
    box-shadow: var(--bs-strong-dark);
}

.description-container {
    padding: 5% 5% 0 5%;
    text-align: left;
    max-width: 1050px;
}

.description-container h3{
    font-size: 30px;
    padding-bottom: 10px;
}

.description-container p{
    font-size: 26px;
    padding-bottom: 10px;
    padding-top: 40px;
    color: #606060;
}

.featured-img {
    border: solid silver 1px;
    border-radius: 5px;
    background-color: black;
}

.showcase-skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.showcase-skills {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-gap: 5%;
    max-width: 1200px;
    grid-template-columns: repeat(3, 1fr);
}

.showcase-skill img {
    border-radius: 5px;
    width: 100%;
    height: auto;
    /* min-height: 340px; */
    box-shadow: 2px 2px 15px, -2px -2px 15px silver;
}

#featured-showcase-end {
    padding-top: 0;
    padding-bottom: 5%;
}

.featured-skills-showcase2 {
    padding-bottom: 10%;
}

#featured-skills-showcase2-container {
    padding-top: 5%;
}

#featured-skills-showcase2-container h3{
    color: black;
}

#featured-skills-showcase2-container p{
    padding-top: 20px;
}

#showcase-skills {
    margin-top: -5%;
}

.button-box button {
    border: none;
    background: none;
}

.btn-one {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 100%;
  cursor: pointer;
  font-weight: bolder;
}

.btn-dark {
  transition: all 0.3s;
  position: relative;
}

.btn-one span {
  transition: all 0.3s;
  z-index: 2;
}

.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top: solid 1px rgba(255,255,255,0.5);
  border-bottom: solid 1px rgba(255,255,255,0.5);
  transform: scale(0.1, 1);
  pointer-events: none;
}


.btn-one:hover span {
  letter-spacing: 2px;
  opacity: 0;
}

.btn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: var(--light-color);
  opacity: 0.13;
  border-radius: 5px;
}

.btn-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}


.btn-dark::before {
    content: "Hello!";
    letter-spacing: 2px;
    border-top: solid 1px rgba(48,202,212,1.0);
    border-bottom: solid 1px rgba(48,202,212,1.0);
}

.show-on-hover {
    opacity: 0;
}

.show-on-hover h3 {
    color: black !important;
}

.show-on-hover li {
    font-size: 20px;
    color: #606060 !important;
    font-weight: bold;
}

.show-on-hover ul {
    padding-top: 10px;
}

#line2 {
    border-bottom-color: var(--clr-accent);
}

.btn-dark:hover {
  color: black;
  transition: ease-in-out 0.1s;
}


.btn-dark::after {
    background-color: rgba(48,202,212,1.0);
}

.button-container {
    width: 80%;
}

.service iframe {
    width: 100%;
    height: 100%;
}



.runner-up-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 7% 5%;
}

.runner-up-des h3{
    color: var(--clr-accent);
    padding-bottom: 5%;
}

.runner-up-skill{
    padding-bottom: 25px;
    text-align: left;
}

.runner-up-des p{
    padding-bottom: 5%;
    font-size: 1.55rem;
    color: #202020;
}

.runner-up-skill h3{
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.25rem;
    text-align: left;
    display: inline;
    color: #606060;
}

.runner-up-skill i{
    font-size: 1.55rem;
    text-align: left;
    display: inline;
    padding-right: 10px;
    color: #606060;
}

.runner-up-des .btn{
    padding: 18px 40px;
}

.runner-up-des .btn:hover{
    color: black;
}

/* About-Me */

#about-me-intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    padding: 0;
    height: 50vh;
}

#about-me-intro h3{
    color: var(--clr-accent);
}

#about-me-intro p{
    font-size: 32px;
}

.container-centered{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    width: 100%;
}

#about-me-des-container{
    color: var(--clr-accent);
}

#about-me-skills {
    margin: 0;
}

#about-me-skills .service {
    min-height: 325px;
}

#about-me-hobbies {
    margin: 0;
    padding-top: 0;
    padding-bottom: 2%;
}

#postface-container {
    padding: 7% 12%;
    grid-gap: 5%;
}

#postface-container .runner-up-des{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#postface-container .runner-up-des h3{
    padding-bottom: 10px;
}

#postface-container .runner-up-des p{
    padding-top: 15px;
}

.runner-up-des .btn{
    text-align: center;
    align-items: center;
}

.footer-left p{
    color: #606060;
    font-size: 24px;
}
.mobile-img {
    display: none;
}





.menu-icon{
    display: none;
    text-align: right;
    position: absolute;
    right: 50px;
    z-index: 1900;
    top: 40px;
    /*pointer-events: all;*/
}


.menu-icon-button {
    background: none;
    border: none;
    display: block;
    height: 30px;
    width: 37px;
    padding: 0;
    margin: 0;
}

.menu-icon-button span:first-child{
    top: 4px;
    display: block;
    height: 3px;
    width: 37px;
    background-color: white;
    position: absolute;
    right: 0;
    transition: all .4s ease-out;
    z-index: 1005;
    pointer-events: none;
}

.menu-icon-button span:nth-child(2){
    top: 14px;
    display: block;
    height: 3px;
    width: 37px;
    background-color: white;
    position: absolute;
    right: 0;
    transition: all .4s ease-out;
    z-index: 1005;
    pointer-events: none;
}

.menu-icon-button span:last-child{
    top: 24px;
    display: block;
    height: 3px;
    width: 37px;
    background-color: white;
    position: absolute;
    right: 0;
    transition: all .4s ease-out;
    z-index: 1005;
    pointer-events: none;
}

.toggler:checked + .menu-icon-button span:first-child {
    animation: linear 0.35s mobileMenuAnimationDown;
    animation-fill-mode: forwards;
}

.toggler:checked + .menu-icon-button span:nth-child(2) {
    opacity: 0;
}
.toggler:checked + .menu-icon-button span:last-child {
    animation: linear 0.35s mobileMenuAnimationUp;
    animation-fill-mode: forwards;
}


.toggler {
    width: 37px;
    height: 37px;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 1002;
}

.toggler:checked ~ .mobile-menu {
    display: block;
    opacity: 1;
    visibility: visible;
    /* right: 0; */
    top: 0;
}


.toggler:checked #mm {
    display: block;
    opacity: 1;
    visibility: visible;
    right: 0;
}

.mobile-menu{
    display: block;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    top: -40%;
    left: 0;
    /* right: -40%; */
    background-color: black;
    width: 100%;
    height: 100%;
    padding: 150px 10% 0 10%;
    z-index: -10;
    overflow: scroll;
    transform: scale(1.1);
    transition: 0.5s cubic-bezier(.77,.39,.43,1.16);
    overflow-y: hidden;
    overflow-x: hidden;
    justify-content: center;
    text-align: left;
    /*pointer-events: none;*/
}


.mobile-navbar-menu .box-1 .btn{
    width: 135px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}



.mobile-navbar-menu2 .box-1 .btn{
    width: 135px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

.mobile-menu ul{
    display: block;
    width: 100%;
    padding-left: 3%;
    /*pointer-events: all;*/
}

.mobile-menu li{
    display: list-item;
    list-style: none;
    width: 100%;
    padding: 5% 5% 2% 7%;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
}

.line2 {
    position: relative;
    opacity: 0.5;
    border-bottom: #E8E8E8 solid 1px;
    border-radius: 10px;
    width: 83%;
    margin-left: 7%;
    margin-right: 7%;
}


.mobile-menu li a{
    text-decoration: none;
    border: none;
    color: white;
}


.mobile-menu li:last-child{
    padding-left: 5%;
}

.mobile-navbar-menu {
    width: 80%;
}


/* Contact Page */

input, textarea {
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    border: solid 1px #ccc;
    resize: vertical;
    box-sizing: border-box;
    margin-top: 12px;
    margin-bottom: 20px;
}

.contact-container-child{
  width:  85%;
}





/* Media Queries */

@media(max-width: 1400px){
    h1 {
        font-size: 3.8rem;
    }
    header {
        padding: 1% 5% 0 5%;
    }
    .intro{
        padding: 100px 10%;
    }
    .my-services {
        padding: 5% 5%;
    }
    .about-me {
        padding: 10% 5% 0 5%;
    }
    .services-container .service {
        padding: 5%;
    }
    .skills {
        max-width: 90% !important;
    }
    .footer-container {
        padding: 50px;
    }
}

@media(max-width: 1200px){
    header {
        padding: 1% 5% 0 5%;
    }
    .intro{
        padding: 100px 7%;
    }
    .intro-caption{
        padding-top: 50px;
    }
    .about-me {
        padding: 10% 5% 0 5%;
    }
    .about-me-container h3{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .section__title--about{
        font-size: 25px !important;
    }
    .about-me-title{
        text-align: left;
        font-size: 28px !important;
    }
    .about-me__body p, .about-me__body h3, .about-me__body i{
        font-size: 20px;
    }
    .my-skills .service h3 {
        font-size: 20px;
    }
    .skills-intro h3 {
        font-size: 30px;
    }
    .skills-intro p {
        font-size: 20px;
    }
    /*footer*/
    .footer-container h3 {
        font-size: 42px;
    }
    .footer__link {
        font-size: 24px;
        letter-spacing: 1px;
    }
    .social-list__item {
        font-size: 20px;
        line-height: 2.5rem;
    }
    /* Projects Page */
    #featured-intro {
        padding: 50px 5% 0 5%;
    }
    #featured-intro p{
        font-size: 28px;
    }
    .runner-up-des p, .runner-up-skill h3, .runner-up-skill i {
        font-size: 20px;
    }
    /* About Page */
    #about-me-intro {
        padding: 50px 5% 0 5%;
    }
    #about-me-intro p {
        font-size: 28px;
    }
}

@media(max-width: 1025px){
    h1 {
        font-size: 3.5rem;
    }
    p {
        font-size: 20px;
    }
    .btn {
        padding: 15px 38px;
    }
    .section__title {
     font-size: 58px;
    }
    .intro {
        height: 80vh;
    }
    .intro-caption{
        padding-top: 0px;
    }
    .about-me-container{
        grid-template-columns: 1fr 1fr;
    }
    .web-img {
        display: none;
    }
    .mobile-img {
        display: block;
    }
    .skills{
        grid-gap: 10px;
    }
    .skills {
        max-width: 95% !important;
    }
    /* Projects Page */
    #featured-intro {
        padding: 100px 5% 0 5%;
        clip-path: polygon(0 0, 0 85%, 100% 100%, 100% 0);
    }
    .description-container p {
        font-size: 24px;
    }
    /* About Page */
    #about-me-intro {
        padding: 100px 5% 0 5%;
        clip-path: polygon(0 0, 0 85%, 100% 100%, 100% 0);
    }
}


@media(max-width: 900px){
    .nav {
        display: none;
    }
    .intro {
        grid-template-columns: 1fr;
        padding: 100px 5% 250px;
        height: auto;
        clip-path: polygon(0 0, 0 95%, 100% 100%, 100% 0);
    }
    .services p {
        font-size: 18px;
    }
    .services h3 {
        font-size: 1.5rem;
    }
    .about-me-container {
        grid-template-columns: 1fr;
        grid-gap: 75px;
    }
    .about-me__body p {
        padding: 2% 0;
    }
    .skills-intro-container {
        padding-top: 100px;
        max-width: 600px;
    }
    .services-container .service i {
        font-size: 32px;
    }
    .my-skills{
        padding-bottom: 50px;
    }
    .footer {
        padding-bottom: 50px;
    }
    footer {
        font-size: 18px;
    }
    .description-container p {
        font-size: 20px;
    }
    .runner-up-container {
        grid-template-columns: 1fr;
        grid-gap: 75px;
    }
    .featured-showcase-container {
        padding: 3% 2%;
    }
    .description-container {
        padding-top: 10%;
    }
    /* About Page */
    #about-me-container {
        padding-top: 1%;
    }
    #postface-container {
        padding: 5% 5% 15% 5%;
    }

    .menu-icon{
        display: block;
    }
    .menu-icon-scrolled {
        position: fixed;
        transition-timing-function: ease;
        transition: 0.7s;
    }


}

@media(max-width: 769px){
    .skills {
        grid-template-columns: 1fr 1fr;
    }
    .footer-container h3 {
        font-size: 38px;
    }
    .item-a {
        grid-area: sk1;
    }

    .item-b {
        grid-area: sk2;
    }

    .item-c {
        grid-area: sk3;
        height: 85vh;
    }
    .skills {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "sk1 sk2"
                             "sk3 sk3"
    }
    /* About Page */
    #about-me-intro {
        padding-top: 50px;
        height: 35vh;
    }
    #art-hobby {
        min-height: 0px;
        height: 0;
    }
}


@media(max-width: 670px){
    p {
        font-size: 18px;
    }
    .btn {
        padding: 12px 32px;
        font-size: 18px;
    }
    .intro {
        padding: 50px 5% 200px;
        height: auto;
        clip-path: polygon(0 0, 0 95%, 100% 100%, 100% 0);
    }
    .section__title {
        font-size: 36px;
        margin-bottom: .75em;
    }
    .section__title{
        padding-bottom: 0 !important;
    }
    .my-services {
        grid-template-columns: 1fr 1fr;
        padding-bottom: 10%;
    }
    .services {
        grid-template-columns: 1fr;
        padding: 5% 0%;
        grid-gap: 10px;
    }
    .skills-intro-container {
        max-width: none;
        padding: 100px 5% 5% 5%;
    }
    .my-services h2 {
        font-weight: 100;
    }
    .skills {
        margin-top: -15%;
    }
    .social-list__item {
        margin: 0;
        padding: 1% 0;
        font-size: 18px;
        letter-spacing: 1px;
    }
    .footer {
        clip-path: polygon(0 0%, 0 100%, 100% 100%, 100% 10%);
    }
    .services-footer .container {
        max-width: 70%;
    }
    .footer-container {
        grid-template-columns: 1fr;
        grid-gap: 20px;
        padding: 1% 5%;
    }
    .footer__link {
        font-size: 20px;
    }
    .footer-container h3 {
        font-size: 36px;
    }
    footer {
        font-size: 15px;
    }
    /* Projects Page */
    #featured-intro {
        padding: 50px 5% 0 5%;
        height: 40vh;
    }
    #featured-intro p {
        font-size: 24px;
    }
    .skills {
        grid-template-columns: 1fr;
        grid-template-areas: "sk1"
                             "sk2"
                             "sk3";
    }
    #item-a-img {
        padding: 0 20%;
        background-color: white;
        border: none;
    }
    #item-a-img img {
        border: solid silver 1px;
        border-radius: 5px;
    }
    #showcase-skills {
        margin-top: -15%;
    }
    .showcase-skills {
        grid-gap: 3%;
        padding: 5% 15% 20% 15%;
        grid-template-columns: 1fr;
    }
    #about-me-intro p {
        font-size: 24px;
    }
    #postface-container {
        padding-bottom: 25%;
    }
}


@media(max-width: 481px){
    .intro {
        padding-bottom: 175px;
    }
    .section__title--about {
        font-size: 22px !important;
    }
    .skills-intro p {
        font-size: 18px;
    }
    /* Projects Page */
    .showcase-skills {
        padding: 5% 5% 20% 5%;
    }
    .description-container p {
        padding-top: 10px;
    }
}

@media(max-width: 360px) {
    .mobile-menu{
        padding-top: 170px;
    }
}

@media(max-width: 320px){
    .btn {
        padding: 10px 36px;
        font-size: 16px;
    }
    .section__title--about {
        font-size: 20px !important;
    }
    .about-me {
        padding: 10% 5%;
    }
    .about-me__body i {
        font-size: 16px;
    }
    .about-me__body h3 {
        font-size: 16px;
    }
    .about-me__body p {
        padding-bottom: 5%;
    }
    .about-me-skill {
        padding-bottom: 15px;
    }
    .my-services h2 {
        font-size: 24px;
    }
    .footer__link {
        font-size: 16px;
        letter-spacing: 0;
    }
    .footer-left p {
        font-size: 16px;
    }
    footer {
        padding: 0 5%;
    }
    /* Projects Page */
    .runner-up-skill  {
        padding-bottom: 15px;
    }
    .runner-up-skill p {
        font-size: 18px;
    }
    .runner-up-skill h3, .runner-up-skill i {
        font-size: 16px;
    }
    .description-container {
        padding-top: 20%;
    }
    #featured-showcase-end {
        padding-top: 10%;
    }
    #featured-skills-showcase2-container {
        padding-top: 10%;
    }
    .runner-up-container {
        padding-top: 20%;
    }
}
